/*

Builder Styles
Theme: Higgs

*/

/* Basic */

.pb-clear {
    clear: both;
}

/* Typo */

.pb-txt-ellips {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pb-txt-center {
    text-align: center;
}

.pb-txt-left {
    text-align: left;
}

.pb-txt-right {
    text-align: right;
}

.pb-txt-justy {
    text-align: justify;
}

.pb-txt-upp {
    text-transform: uppercase;
}

.pb-txt-cap {
    text-transform: capitalize;
}

.pb-txt-low {
    text-transform: lowercase;
}

/* Display */

.pb-hide {
    display: none;
}

.pb-block {
    display: block;
}

.pb-table {
    display: table;
    height: 100%;
    width: 100%;
}

.pb-cell {
    display: table-cell;
    vertical-align: middle;
}

.pb-flex {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.pb-center {
    transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -o-transform: translate(-50%);
    -webkit-transform: translate(-50%);
}

.pb-inline {
    display: inline;
}

.pb-inline-b {
    display: inline-block;
}

.pb-float-l {
    float: left;
}

.pb-float-r {
    float: right;
}

.pb-float-n {
    float: none;
}

.pb-pos-abs {
    position: absolute;
}

.pb-pos-rel {
    position: relative;
}

.pb-pos-fix {
    position: fixed;
}

.pb-over-h {
    overflow: hidden;
}

.pb-over-v {
    overflow: visible;
}

/* Background */

.pb-bg-center {
    background-position: center center;
}

.pb-bg-top {
    background-position: top center;
}

.pb-bg-bottom {
    background-position: bottom center;
}

.pb-bg-cover {
    background-size: cover;
}

.pb-bg-contain {
    background-size: contain;
}

.pb-bg-attach-s {
    background-attachment: scroll;
}

.pb-bg-attach-f {
    background-attachment: fixed;
}

/* Spacing */

.pb-padd-t-15 {
    padding-top: 15px;
}

.pb-padd-t-30 {
    padding-top: 30px;
}

.pb-padd-t-45 {
    padding-top: 45px;
}

.pb-padd-t-60 {
    padding-top: 60px;
}

.pb-padd-t-75 {
    padding-top: 75px;
}

.pb-padd-t-90 {
    padding-top: 90px;
}

.pb-padd-t-120{
    padding-top: 120px;
}

.pb-padd-t-150 {
    padding-top: 150px;
}

.pb-padd-t-180 {
    padding-top: 180px;
}

.pb-padd-b-15 {
    padding-bottom: 15px;
}

.pb-padd-b-30 {
    padding-bottom: 30px;
}

.pb-padd-b-45 {
    padding-bottom: 45px;
}

.pb-padd-b-60 {
    padding-bottom: 60px;
}

.pb-padd-b-75 {
    padding-bottom: 75px;
}

.pb-padd-b-90 {
    padding-bottom: 90px;
}

.pb-padd-b-120{
    padding-bottom: 120px;
}

.pb-padd-b-150 {
    padding-bottom: 150px;
}

.pb-padd-b-180 {
    padding-bottom: 180px;
}

.pb-padd-r-15 {
    padding-right: 15px;
}

.pb-padd-r-30 {
    padding-right: 30px;
}

.pb-padd-r-45 {
    padding-right: 45px;
}

.pb-padd-r-60 {
    padding-right: 60px;
}

.pb-padd-r-75 {
    padding-right: 75px;
}

.pb-padd-r-90 {
    padding-right: 90px;
}

.pb-padd-r-120{
    padding-right: 120px;
}

.pb-padd-r-150 {
    padding-right: 150px;
}

.pb-padd-r-180 {
    padding-right: 180px;
}

.pb-padd-l-15 {
    padding-left: 15px;
}

.pb-padd-l-30 {
    padding-left: 30px;
}

.pb-padd-l-45 {
    padding-left: 45px;
}

.pb-padd-l-60 {
    padding-left: 60px;
}

.pb-padd-l-75 {
    padding-left: 75px;
}

.pb-padd-l-90 {
    padding-left: 90px;
}

.pb-padd-l-120 {
    padding-left: 120px;
}

.pb-padd-l-150 {
    padding-left: 150px;
}

.pb-padd-l-180 {
    padding-left: 180px;
}

.pb-padd-0 {
    padding: 0;
}

.pb-padd-15 {
    padding: 15px;
}

.pb-padd-30 {
    padding: 30px;
}

.pb-padd-45 {
    padding: 45px;
}

.pb-padd-60 {
    padding: 60px;
}

.pb-padd-75 {
    padding: 75px;
}

.pb-padd-90 {
    padding: 90px;
}

.pb-padd-120 {
    padding: 120px;
}

.pb-padd-150 {
    padding: 150px;
}

.pb-padd-180 {
    padding: 180px;
}

.pb-marg-t-15 {
    margin-top: 15px;
}

.pb-marg-t-30 {
    margin-top: 30px;
}

.pb-marg-t-45 {
    margin-top: 45px;
}

.pb-marg-t-60 {
    margin-top: 60px;
}

.pb-marg-t-75 {
    margin-top: 75px;
}

.pb-marg-t-90 {
    margin-top: 90px;
}

.pb-marg-t-120{
    margin-top: 120px;
}

.pb-marg-t-150 {
    margin-top: 150px;
}

.pb-marg-t-180 {
    margin-top: 180px;
}

.pb-marg-b-15 {
    margin-bottom: 15px;
}

.pb-marg-b-30 {
    margin-bottom: 30px;
}

.pb-marg-b-45 {
    margin-bottom: 45px;
}

.pb-marg-b-60 {
    margin-bottom: 60px;
}

.pb-marg-b-75 {
    margin-bottom: 75px;
}

.pb-marg-b-90 {
    margin-bottom: 90px;
}

.pb-marg-b-120{
    margin-bottom: 120px;
}

.pb-marg-b-150 {
    margin-bottom: 150px;
}

.pb-marg-b-180 {
    margin-bottom: 180px;
}

.pb-marg-r-15 {
    margin-right: 15px;
}

.pb-marg-r-30 {
    margin-right: 30px;
}

.pb-marg-r-45 {
    margin-right: 45px;
}

.pb-marg-r-60 {
    margin-right: 60px;
}

.pb-marg-r-75 {
    margin-right: 75px;
}

.pb-marg-r-90 {
    margin-right: 90px;
}

.pb-marg-r-120{
    margin-right: 120px;
}

.pb-marg-r-150 {
    margin-right: 150px;
}

.pb-marg-r-180 {
    margin-right: 180px;
}

.pb-marg-l-15 {
    margin-left: 15px;
}

.pb-marg-l-30 {
    margin-left: 30px;
}

.pb-marg-l-45 {
    margin-left: 45px;
}

.pb-marg-l-60 {
    margin-left: 60px;
}

.pb-marg-l-75 {
    margin-left: 75px;
}

.pb-marg-l-90 {
    margin-left: 90px;
}

.pb-marg-l-120 {
    margin-left: 120px;
}

.pb-marg-l-150 {
    margin-left: 150px;
}

.pb-marg-l-180 {
    margin-left: 180px;
}

.pb-marg-0 {
    margin: 0;
}

.pb-marg-15 {
    margin: 15px;
}

.pb-marg-30 {
    margin: 30px;
}

.pb-marg-45 {
    margin: 45px;
}

.pb-marg-60 {
    margin: 60px;
}

.pb-marg-75 {
    margin: 75px;
}

.pb-marg-90 {
    margin: 90px;
}

.pb-marg-120 {
    margin: 120px;
}

.pb-marg-150 {
    margin: 150px;
}

.pb-marg-180 {
    margin: 180px;
}

/* Dimension */

.pb-h-30 {
    height: 30px;
}

.pb-h-60 {
    height: 60px;
}

.pb-h-90 {
    height: 90px;
}

.pb-h-120 {
    height: 120px;
}

.pb-h-150 {
    height: 150px;
}

.pb-h-180 {
    height: 180px;
}

.pb-h-210 {
    height: 210px;
}

.pb-h-240 {
    height: 240px;
}

.pb-h-270 {
    height: 270px;
}

.pb-h-300 {
    height: 300px;
}

.pb-h-330 {
    height: 330px;
}

.pb-h-360 {
    height: 360px;
}

.pb-h-390 {
    height: 390px;
}

.pb-h-420 {
    height: 420px;
}

.pb-h-450 {
    height: 450px;
}

.pb-h-480 {
    height: 480px;
}

.pb-h-510 {
    height: 510px;
}

.pb-h-540 {
    height: 540px;
}

.pb-h-570 {
    height: 570px;
}

.pb-h-600 {
    height: 600px;
}

.pb-h-full {
    height: 100%;
}

.pb-w-30 {
    width: 30px;
}

.pb-w-60 {
    width: 60px;
}

.pb-w-90 {
    width: 90px;
}

.pb-w-120 {
    width: 120px;
}

.pb-w-150 {
    width: 150px;
}

.pb-w-180 {
    width: 180px;
}

.pb-w-210 {
    width: 210px;
}

.pb-w-240 {
    width: 240px;
}

.pb-w-270 {
    width: 270px;
}

.pb-w-300 {
    width: 300px;
}

.pb-w-330 {
    width: 330px;
}

.pb-w-360 {
    width: 360px;
}

.pb-w-390 {
    width: 390px;
}

.pb-w-420 {
    width: 420px;
}

.pb-w-450 {
    width: 450px;
}

.pb-w-480 {
    width: 480px;
}

.pb-w-510 {
    width: 510px;
}

.pb-w-540 {
    width: 540px;
}

.pb-w-570 {
    width: 570px;
}

.pb-w-600 {
    width: 600px;
}

.pb-w-full {
    width: 100%;
}

/* Colors */

.pb-brd-grey-1 {
    border: 2px solid #f9f9f9;
}

.pb-brd-grey-2 {
    border: 2px solid #ebebeb;
}

.pb-brd-grey-3 {
    border: 2px solid #cdcdcd;
}

.pb-brd-black {
    border: 2px solid #222;
}

.pb-brd-white {
    border: 2px solid #fff;
}

.pb-brd-color {
    border: 2px solid #FFD166;
}

.pb-bg-black-10 {
    background: rgba(0,0,0,0.1);
}

.pb-bg-black-20 {
    background: rgba(0,0,0,0.2);
}

.pb-bg-black-30 {
    background: rgba(0,0,0,0.3);
}

.pb-bg-black-40 {
    background: rgba(0,0,0,0.4);
}

.pb-bg-black-50 {
    background: rgba(0,0,0,0.5);
}

.pb-bg-black-60 {
    background: rgba(0,0,0,0.6);
}

.pb-bg-black-70 {
    background: rgba(0,0,0,0.7);
}

.pb-bg-black-80 {
    background: rgba(0,0,0,0.8);
}

.pb-bg-black-90 {
    background: rgba(0,0,0,0.8);
}

.pb-bg-white-10 {
    background: rgba(255,255,255,0.1);
}

.pb-bg-white-20 {
    background: rgba(255,255,255,0.2);
}

.pb-bg-white-30 {
    background: rgba(255,255,255,0.3);
}

.pb-bg-white-40 {
    background: rgba(255,255,255,0.4);
}

.pb-bg-white-50 {
    background: rgba(255,255,255,0.5);
}

.pb-bg-white-60 {
    background: rgba(255,255,255,0.6);
}

.pb-bg-white-70 {
    background: rgba(255,255,255,0.7);
}

.pb-bg-white-80 {
    background: rgba(255,255,255,0.8);
}

.pb-bg-white-90 {
    background: rgba(255,255,255,0.9);
}

.pb-bg-color-10 {
    background: rgba(255,209,102,0.1);
}

.pb-bg-color-20 {
    background: rgba(255,209,102,0.2);
}

.pb-bg-color-30 {
    background: rgba(255,209,102,0.3);
}

.pb-bg-color-40 {
    background: rgba(255,209,102,0.4);
}

.pb-bg-color-50 {
    background: rgba(255,209,102,0.5);
}

.pb-bg-color-60 {
    background: rgba(255,209,102,0.6);
}

.pb-bg-color-70 {
    background: rgba(255,209,102,0.7);
}

.pb-bg-color-80 {
    background: rgba(255,209,102,0.8);
}

.pb-bg-color-90 {
    background: rgba(255, 209, 102, 0.9);
}

.pb-font-xxl {
    font-size: 72px;
    line-height: 86px;
}

.pb-font-xl {
    font-size: 60px;
    line-height: 72px;
}

.pb-font-l {
    font-size: 48px;
    line-height: 60px;
}

.pb-font-m {
    font-size: 36px;
    line-height: 48px;
}

.pb-font-s {
    font-size: 24px;
    line-height: 36px;
}

.pb-font-xs {
    font-size: 20px;
    line-height: 32px;
}

.pb-font-xxs {
    font-size: 16px;
    line-height: 28px;
}

.pb-font-tiny {
    font-weight: 100;
}

.pb-font-normal {
    font-weight: 400;
}

.pb-font-bold {
    font-weight: 700;
}

.pb-font-heavy {
    font-weight: 900;
}

.pb-color-black {
    color: #000;
}

.pb-color-white {
    color: #fff;
}

.pb-color-grey-1 {
    color: #f9f9f9;
}

.pb-color-grey-2 {
    color: #ebebeb;
}

.pb-color-grey-3 {
    color: #cdcdcd;
}

.pb-color {
    color: #FFD166;
}

.pb-bg-white {
    background: #fff;
}

.pb-bg-black {
    background: #000;
}

.pb-bg-color {
    background: #FFD166;
}

.pb-bg-grey-1 {
    background: #f9f9f9;
}

.pb-bg-grey-2 {
    background: #ebebeb;
}

.pb-bg-grey-3 {
    background: #cdcdcd;
}

/* Animations */

.pb-animate-1 {
    transition: all ease-in-out 0.1s;
    -moz-transition: all ease-in-out 0.1s;
    -webkit-transition: all ease-in-out 0.1s;
    -o-transition: all ease-in-out 0.1s;
    -ms-transition: all ease-in-out 0.1s;
}

.pb-animate-2 {
    transition: all ease-in-out 0.2s;
    -moz-transition: all ease-in-out 0.2s;
    -webkit-transition: all ease-in-out 0.2s;
    -o-transition: all ease-in-out 0.2s;
    -ms-transition: all ease-in-out 0.2s;
}

.pb-animate-3 {
    transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
}

.pb-animate-4 {
    transition: all ease-in-out 0.4s;
    -moz-transition: all ease-in-out 0.4s;
    -webkit-transition: all ease-in-out 0.4s;
    -o-transition: all ease-in-out 0.4s;
    -ms-transition: all ease-in-out 0.5s;
}

.pb-animate-5 {
    transition: all ease-in-out 0.5s;
    -moz-transition: all ease-in-out 0.5s;
    -webkit-transition: all ease-in-out 0.5s;
    -o-transition: all ease-in-out 0.5s;
    -ms-transition: all ease-in-out 0.5s;
}

.pb-animate-6 {
    transition: all ease-in-out 0.6s;
    -moz-transition: all ease-in-out 0.6s;
    -webkit-transition: all ease-in-out 0.6s;
    -o-transition: all ease-in-out 0.6s;
    -ms-transition: all ease-in-out 0.6s;
}

.pb-animate-7 {
    transition: all ease-in-out 0.7s;
    -moz-transition: all ease-in-out 0.7s;
    -webkit-transition: all ease-in-out 0.7s;
    -o-transition: all ease-in-out 0.7s;
    -ms-transition: all ease-in-out 0.7s;
}

.pb-animate-8 {
    transition: all ease-in-out 0.8s;
    -moz-transition: all ease-in-out 0.8s;
    -webkit-transition: all ease-in-out 0.83s;
    -o-transition: all ease-in-out 0.8s;
    -ms-transition: all ease-in-out 0.8s;
}

.pb-animate-9 {
    transition: all ease-in-out 0.9s;
    -moz-transition: all ease-in-out 0.9s;
    -webkit-transition: all ease-in-out 0.9s;
    -o-transition: all ease-in-out 0.9s;
    -ms-transition: all ease-in-out 0.9s;
}